[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest-github-report = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
flake8 = "*"
flake8-black = "*"
black = "*"
pyright = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
